<h1>Hello, Welcome to this graphql demo!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
   <li>
        <a href="/swagger">go to swagger</a>   
  </li>
  <li>
    <a href="/graphql">go to graphiql</a>   
</li>
</ul>
<p>To help you get started, we've also set up:</p>
<div *ngIf="loading">
        <span class="glyphicon glyphicon-repeat normal-right-spinner" style="font-size:2.5em;" aria-hidden="true"></span>
        
</div>
<ul>
    <div *ngFor="let customer of customers">
        {{customer.name}} {{customer.birthDate}}
    </div>
</ul>
<div>
    <div class="main">
        <form #form="ngForm" novalidate autocomplete="false" (submit)="createCustomer()" >
            <label for="name">Name:</label>
            <input type="text" #name="ngModel" [(ngModel)]="newCustomerName" name="name" required />
            <br>
            <button type="submit">Create</button>
        </form>
    </div>
</div>